docs/

mess.egg-info/
mess/__pycache__
build/

tests/
profiles/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
tests/__pycache__
.pytest_cache

.snakemake
.taxonkit/
*.sif